<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head><title>Something</title></head>

<style>
    * {
      font-family: sans-serif;
    }

    .embedded_webpage {
      background-color: aquamarine;
      width: 50em;
      height: 20em;
    }

    .main_header {
      background-color: chartreuse;
      width: 54em;
    }
</style>


<body>
  <div class="main_header">
      <h1>Nested Webpage using 'iframe' Tag: Python</h1>
  </div>


  <div class="embedded_webpage">
    <iframe height="100%" width="100%" src="../non_logging_output_dir/SmartBear_5bn3lv8b.html" title="description"></iframe>
  </div>
</body>

</html>