.idea
/assets/SmartBear_TOU-10FEB2023.docx
.DS_Store
test_notebook.ipynb
__pycache__/

static/
!static/.gitkeep
!static/blank.html
!static/styles/_main.css

non_logging_output_dir/*
!non_logging_output_dir/.gitkeep

templates/*
!templates/root_frame.html
