<!-- root index template | utilizes iframe window for dynamic docx to html rendering -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/_main.css') }}">
  <!-- temporary css for dynamic updates to IDE renderer -->
  <link rel="stylesheet" type="text/css" href="../static/styles/_main.css">

  <title>Something</title>
</head>

<body>
<div class="doc_title_container">
  <h1>Document Redlining Utility</h1>
</div>
  <div class="super_parent">
    <div class="left_child_panel">
      <div class="left_main_header">
          <h2>Document Title: {{ dynamic_header }}</h2>
      </div>
      <div class="left_embedded_webpage">
        <iframe height="100%" width="100%" src="{{url_for('static', filename=static_file_name)}}" title="TEST"></iframe>
      </div>
      <div class="bottom_doc_upload_selection">
        <h2>Upload new File</h2>
        <form method="POST" enctype=multipart/form-data>
          <input type=file name=file>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="right_child_panel">
      <div class="right_main_header">
        <h2>Phrase Selection</h2>
      </div>
      <div class="right_form_selection">
        <form method="POST" enctype="multipart/form-data">
          <label for="phrase_box">
            {% for i in range(n) %}
              <input name="field-{{i}}" id="phrase_box" />
            {% endfor %}
          </label>
        </form>
      </div>
      <div class="right_bottom_form_updater">
        <form method="POST">
          <label for="phrase_count_v">
            <input type="range" min="1" max="10" name="phrase_count_v" id="phrase_count_v">
            <button onclick=sendData()>Submit</button>
          </label>
          <p><span id="output_p"></span></p>
          <script src="{{ url_for('static',filename='scripts/input_selection_slider.js') }}"></script>
        </form>
      </div>
    </div>
  </div>
</body>
</html>